.contact {
    margin-top: 120px;
}

.contact-inner {
    margin: 0 auto 120px auto;
    display: flex;
    justify-content: space-between;
    width: 1080px;
    max-width: 100%;
    img {
        width: 500px;
        z-index: 1;
    }
}
.contact-left {
    position: relative;
}

.contact-detail {
    width: 382px;
    height: 186px;
    margin: 0 auto;
    position: relative;
    bottom: 80px;
    background-color: $white;
    z-index: 2;
    @include shadow;
}
.contact-txt {
    @include center;
    text-align: center;
}

.office-name {
    font-size: 18px;
    color: $base-color;
    font-weight: bold;
}

.office-address {
    font-size: 14px;
    color: $base-color;
    font-weight: bold;
}



@media screen and (max-width: 767px) {
    .contact-inner {
        padding: 0 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-detail {
        width: 300px;
        height: 146px;
        bottom: 50px;
    }
    .contact-bottom {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .tell,.mail {
        width: 100%;
    }
}
