@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0; }

.container {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px; }
  header h1 img {
    width: 23%; }
  header .header-right {
    display: flex; }
  header a {
    color: #333333;
    margin-right: 35px;
    font-weight: bold;
    list-style: none;
    text-decoration: none; }

.header-entry {
  margin-right: 0;
  color: #FF7166;
  border: 2px solid #FF7166;
  border-radius: 24px;
  width: 121px;
  text-align: center; }
  .header-entry a {
    color: #FF7166;
    margin: 0 auto; }

.l-header {
  display: none; }

@media screen and (max-width: 767px) {
  /*ヘッダー*/
  header {
    display: none; }
    header a {
      margin-right: 0; }

  .l-header {
    display: flex;
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0; }

  /*ドロワー*/
  .l-drawer {
    position: relative; }
    .l-drawer__checkbox {
      display: none; }
    .l-drawer__icon {
      cursor: pointer;
      display: block;
      width: 56px;
      height: 60px; }
      .l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
        background-color: #FF7166;
        display: block;
        width: 26px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto; }
      .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
        content: " "; }
      .l-drawer__icon-parts:before {
        top: 16px; }
      .l-drawer__icon-parts:after {
        top: -16px; }
    .l-drawer__overlay {
      background: #000;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0; }
    .l-drawer__menu {
      background: #ffffff;
      color: #333333;
      max-width: 100%;
      width: 300px;
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: fixed;
      top: 0;
      right: -300px; }
    .l-drawer__icon {
      z-index: 4; }
    .l-drawer__menu {
      z-index: 3; }
    .l-drawer__overlay {
      z-index: 2; }
    .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
      background: transparent;
      color: #FF7166; }
    .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0; }
    .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    .l-drawer__checkbox:checked ~ .l-drawer__overlay {
      opacity: 0.3;
      pointer-events: auto; }
    .l-drawer__checkbox:checked ~ .l-drawer__menu {
      right: 0; }
    .l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
      -webkit-transition: all 0.7s;
      transition: all 0.7s; }

  .l-drawer {
    display: flex; }
    .l-drawer .items {
      position: relative;
      top: 30px;
      padding-left: 140px; }
    .l-drawer ul {
      list-style: none;
      padding: 15px; }
    .l-drawer li {
      margin-bottom: 35px;
      text-align: right; }
    .l-drawer a {
      text-decoration: none;
      text-align: right; }
    .l-drawer .header-entry {
      margin: 0 0 0 auto; }
      .l-drawer .header-entry li {
        margin-bottom: 0;
        text-align: center; }
      .l-drawer .header-entry a {
        text-align: right; } }
html {
  font-size: 62.5%; }

body {
  font-family: 'YuGothic','ヒラギノ角ゴ ProN';
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  /* 16px*/ }

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%; }

a {
  list-style: none;
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto;
  width: 100%; }

.heading {
  margin-top: 120px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto; }
  .heading p {
    font-size: 18px;
    color: #555555; }

.interview-heading img {
  width: 39%; }

.mission-heading img {
  width: 63%; }

hr {
  border: 1px solid #B1B1B1;
  margin: 0;
  width: 100%; }

@media screen and (max-width: 767px) {
  html {
    font-size: 50%; } }
.mv {
  background-image: url("../../img/mv.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 0 0 auto;
  width: 84%;
  height: 610px;
  display: flex;
  align-items: center; }

.mv-txt {
  position: relative;
  right: 100px;
  width: 100%; }
  .mv-txt img {
    width: 45%; }
  .mv-txt p {
    font-size: 3rem;
    font-weight: bold; }

.mv-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 45px; }

.mv-box-half {
  display: flex; }

.mv-box {
  width: 200px;
  height: 90px;
  text-align: center;
  color: #fff;
  position: relative; }
  .mv-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .mv-box h3 {
    font-size: 22px; }
  .mv-box p {
    font-size: 14px; }

.mv-box-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.mv1 {
  background-color: #FF9933; }

.mv2 {
  background-color: #FF8B66; }

.mv3 {
  background-color: #FF7E66; }

.mv4 {
  background-color: #FF7166; }

.company {
  margin-bottom: 120px; }
  .company h2 {
    margin: 85px 0 50px 0;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold; }

.company-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 64px;
  width: 1080px;
  max-width: 100%; }
  .company-inner img {
    height: 91px; }

.points {
  background-color: #F5F5F5;
  padding: 0 100px;
  margin: 0; }

.point-inner {
  padding: 90px 78px 0 78px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

.point {
  width: 276px;
  height: 259px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto; }
  .point img {
    margin: 31px 0;
    height: 120px; }
  .point p {
    font-size: 16px; }

.point1 img {
  width: 27%; }

.point2 img {
  width: 32%; }

.point3 img {
  width: 31%; }

.more-button {
  padding: 50px 0; }

.more {
  width: 155px;
  height: 48px;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 24px;
  align-items: center;
  display: flex;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .more a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 5px auto; }

@media screen and (max-width: 1080px) {
  .company-inner {
    padding: 0 40px;
    flex-wrap: wrap; }

  .company-img {
    width: 145px; }

  .points {
    padding: 0 15px; }

  .point-inner {
    padding: 90px 0 0 0; } }
@media screen and (max-width: 768px) {
  .company-inner {
    width: 760px; } }
@media screen and (max-width: 767px) {
  .mv {
    width: 100%;
    height: 566px; }

  .mv-txt {
    position: absolute;
    right: 0; }

  .mv-wrapper {
    display: block;
    position: static;
    margin-top: 50px; }

  .mv-box {
    width: 190px; }

  .mv-box-half {
    justify-content: center;
    margin-top: 4px; }

  .mv1, .mv3 {
    margin-right: 4px; }

  .point {
    margin-bottom: 50px; }

  .point-inner {
    display: block; }

  .point-button {
    padding-top: 0; } }
@media screen and (max-width: 425px) {
  .mv {
    background-image: url("../../img/mv-sp.jpg");
    align-items: flex-end; }

  .mv-txt {
    padding-bottom: 37px; }
    .mv-txt img {
      width: 75%; }

  .company-inner {
    padding: 0 15px; } }
.interview {
  padding: 0 100px; }

.interview-inner {
  margin: 0 auto;
  padding: 0 95px;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%; }

.interview-card {
  width: 280px;
  height: 470px;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }
  .interview-card img {
    height: 321px; }

.type {
  width: 120px;
  height: 37px;
  float: right;
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .type p {
    color: #fff;
    margin: 0 auto; }

.interview-detail {
  margin-left: 14px; }
  .interview-detail .when {
    color: #868686;
    font-size: 14px;
    font-weight: bold;
    margin-top: 21px; }
  .interview-detail .name1 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px; }
  .interview-detail .name2 {
    color: #FF7166;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px; }

.interview1 {
  margin-top: 135px; }

.interview2 {
  margin-top: 85px; }

.interview3 {
  margin-top: 35px; }

@media screen and (max-width: 1080px) {
  .interview {
    padding: 0 50px; }

  .interview {
    padding: 0; } }
@media screen and (max-width: 767px) {
  .interview {
    padding: 0 15px; }

  .interview-heading img {
    width: 25%; }

  .interview-inner {
    display: block;
    width: 100%;
    padding: 0; }

  .interview-card {
    margin: 0 auto 50px auto; }

  .interview1 {
    margin-top: 50px; } }
.mission-inner {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
  max-width: 100%;
  margin: 0 auto; }

.mission-left {
  width: 514px;
  margin-top: 50px;
  position: relative;
  left: 100px;
  z-index: 2;
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .mission-left p {
    color: #fff; }

.mission-ttl {
  font-size: 24px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: bold;
  padding: 59px 0 32px 44px; }

.mission-txt {
  font-size: 16px;
  margin: 0 42px 50px 42px; }

.mission-right {
  width: 100%; }

.mission-right img {
  width: 707px;
  z-index: 1;
  position: relative;
  right: 100px; }

@media screen and (max-width: 1080px) {
  .heading {
    padding: 0 15px; } }
@media screen and (max-width: 767px) {
  .heading {
    padding: 0 15px; }

  .mission-heading img {
    width: 25%; }

  .mission-inner {
    padding: 0 15px;
    flex-direction: column-reverse;
    margin: 0 auto;
    position: static; }

  .mission-left {
    bottom: 20px;
    left: 0;
    width: 350px;
    margin-top: 0;
    max-width: 100%; }

  .mission-ttl {
    padding: 49px 38px 27px 26px; }

  .mission-txt {
    margin: 0 25px 50px 25px; }

  .mission-right img {
    position: static;
    margin-top: 50px; } }
.news {
  background-color: #F5F5F5;
  padding: 0 100px; }

.news-heading {
  padding: 50px 0; }

.news-heading img {
  width: 23%; }

.news-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1080px;
  max-width: 100%; }

.news-card {
  max-width: 100%;
  width: 330px;
  height: 303px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }
  .news-card img {
    margin: 15px;
    width: 300px;
    height: 200px; }
  .news-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.card-top {
  position: relative; }
  .card-top p {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 82px;
    height: 20px;
    background-color: #FF9933;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: bold; }

.news-detail {
  margin-left: 15px; }
  .news-detail .news-time {
    color: #333333;
    font-size: 14px; }
  .news-detail .news-txt {
    color: #090803;
    font-weight: bold;
    font-size: 18px; }

.news3 {
  height: 335px; }

@media screen and (max-width: 1080px) {
  .news {
    padding: 0 41px; }
    .news img {
      margin: 0; } }
@media screen and (max-width: 767px) {
  .news {
    padding: 0 15px; }

  .news-inner {
    flex-direction: column;
    align-items: center;
    justify-content: normal; }

  .news-heading img {
    width: 19%; }

  .news-card {
    margin-bottom: 32px;
    width: 299px; } }
.contact {
  margin-top: 120px; }

.contact-inner {
  margin: 0 auto 120px auto;
  display: flex;
  justify-content: space-between;
  width: 1080px;
  max-width: 100%; }
  .contact-inner img {
    width: 500px;
    z-index: 1; }

.contact-left {
  position: relative; }

.contact-detail {
  width: 382px;
  height: 186px;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.16); }

.contact-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center; }

.office-name {
  font-size: 18px;
  color: #333333;
  font-weight: bold; }

.office-address {
  font-size: 14px;
  color: #333333;
  font-weight: bold; }

@media screen and (max-width: 767px) {
  .contact-inner {
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .contact-detail {
    width: 300px;
    height: 146px;
    bottom: 50px; }

  .contact-bottom {
    flex-direction: column;
    text-align: center;
    justify-content: center; }

  .tell, .mail {
    width: 100%; } }
.footer {
  margin: 0 auto;
  max-width: 100%; }

.footer-top {
  display: flex;
  justify-content: space-between; }

.tell, .mail {
  width: 50%;
  height: 140px; }

.mail {
  background: linear-gradient(to left, #FF7166, #FF9933); }
  .mail p {
    color: #fff; }

.tell-content, .mail-content {
  display: flex;
  margin: 35px auto; }

.tell-content {
  justify-content: flex-end;
  padding: 0 50px; }

.tell-img {
  width: 70px; }
  .tell-img img {
    max-width: 100%;
    position: relative;
    right: 24px; }

.mail-content {
  justify-content: flex-start;
  padding: 0 74px; }

.mail-img {
  width: 70px; }
  .mail-img img {
    max-width: 100%;
    position: relative;
    right: 24px; }

.footer-top-1 {
  font-weight: bold;
  font-size: 16px;
  width: 176px; }

.footer-top-2 {
  font-weight: bold;
  font-size: 28px;
  width: 201px; }

.footer-top-3 {
  font-weight: bold;
  font-size: 20px; }

.footer-bottom {
  background-color: #F5F5F5; }

.footer-bottom1 {
  display: flex;
  padding: 0 80px;
  justify-content: space-between; }

.footer-left {
  width: 136px; }
  .footer-left img {
    margin-top: 25px; }
  .footer-left p {
    font-size: 16px;
    width: 213px;
    margin-bottom: 22px; }

.footer-right {
  display: flex;
  margin-top: 50px; }

.fa {
  width: 40px; }

i {
  color: #FF7166; }

.fab {
  width: 100%; }

.copy {
  font-size: 14px;
  text-align: center;
  padding-bottom: 9px; }

@media screen and (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .tell, .mail {
    width: 100%; }

  .tell-content, .mail-content {
    width: 100%;
    justify-content: center; }

  .tell-content, .mail-content {
    padding: 0; }

  .footer-top-txt {
    width: 176px; }

  .footer-top-2 {
    font-size: 24px; }

  .footer-bottom1 {
    display: block;
    padding: 0 50px; }

  .footer-right {
    margin-top: 0; } }

/*# sourceMappingURL=styles.css.map */
